---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face{font-family:'Replica-Mono';
src:url("/assets/fonts/Replica-Mono.eot");
src:url("/assets/fonts/Replica-Mono.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/Replica-Mono.svg#Replica-Mono") format("svg"),url("/assets/fonts/Replica-Mono.ttf") format("truetype"),url("/assets/fonts/Replica-Mono.woff") format("woff"),url("/assets/fonts/Replica-Mono.woff2") format("woff2");
font-weight:normal;
font-style:normal}
@font-face{font-family:'Replica-Regular';
src:url("/assets/fonts/Replica-Regular.eot");
src:url("/assets/fonts/Replica-Regular.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/Replica-Regular.svg#Replica-Regular") format("svg"),url("/assets/fonts/Replica-Regular.ttf") format("truetype"),url("/assets/fonts/Replica-Regular.woff") format("woff"),url("/assets/fonts/Replica-Regular.woff2") format("woff2");font-weight:normal;
font-style:normal}
@font-face{font-family:'Replica-Bold';
src:url("/assets/fonts/Replica-Bold.eot");src:url("/assets/fonts/Replica-Bold.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/Replica-Bold.svg#Replica-Bold") format("svg"),url("/assets/fonts/Replica-Bold.ttf") format("truetype"),url("/assets/fonts/Replica-Bold.woff") format("woff"),url("/assets/fonts/Replica-Bold.woff2") format("woff2");
font-weight:normal;
font-style:normal}


// Our variables

$text-color:       #333333;
$background-color: #fff;

body {
    background-color: $background-color;
}
a {
	color:#f44f3a;
}

a:hover {
	color:#f44f3a;
}

.link-round {
	color: #fff;
    border: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 15px;
    border-color: #f44f3a;
}
.main {
	//display: grid;
	//grid-template-columns: 25vw 24vw 24vw 24vw;
	//grid-template-areas:
	//  "header content content content"
	//  "footer footer  footer  footer";
	font-family: 'Replica-Mono', monospace;
	text-align: justify;
	font-size: 14px;
	color: #333;

}

.txt-center {
  text-align: center;
}

.header {
	
	margin-top: 40px;
	p:first-child {
		
	}
	.menu {
	  padding: 80px 8px;
	}
	a {
		font-size: 13px;
		color: #333;
		p {
			font-size: 14px;
			color: #f44f3a;
			margin-bottom: 0;
			text-decoration: none;
		}
		p:hover {
			color: #f44f3a;
		}
	}
	.mainsidebar:hover {
  		background-color: #f44f3a;
  		color: #fff;
  		text-decoration: none;
  	}

  	span {
  		font-size: 10px;
  		p {
  			padding-bottom: 0;
  			color: #f44f3a;

  		}
  	}
  	ul {
  		margin: 15px 0px 15px 0px;
  		
  		li {
  			display: inline;
  		}
  		
  	}
}


.card {
	width: 263px;
	height: 195px;
	margin: 40px 30px;
	background-color: #fff;
	span {
		text-transform: uppercase;
		font-size: 13px;
		color: #333;
    writing-mode: vertical-rl;
    position: absolute;
    left: 278px;
	}
	a {
		color: #f44f3a;
		font-size: 10pt;
	}
	a:hover {
		background: #fff;
	}
	p {
	  margin: 0;
	  position: absolute;
	  bottom: -22px;
	}
	img {
	  width: 263px;
	  height: 195px;
	  padding: 10px;

	}
}
.box {
	height: 170px;
    width: 240px;
/*    border-style: solid;
    border-width: 2px;
    border-color: #f44f3a;*/

}

.footer {
  text-align: center;
  padding-bottom: 1%;
  font-size: 8pt;

}


.pagina {
	
	text-align: right;
	a { 
		color: #fff;
	}
	a:hover { 
		background: #fff;
		color: #000;
	}
	li {
		display: inline;
		color: #fff;
    	display: inline;
	}
}
	

.sobre {
	padding: 8em 0 0 2em;
 	width: 900px;
  background: url(/assets/quote.svg) 0 0;
  background-repeat: no-repeat;
  background-size: 80px;
	background-position: 1em 5.5em;
  font-family: 'EB Garamond', serif;
  h5 {
    font-size: 1.5em;
    line-height: 1.2;	
  }
  h4 {
  	font-size: 1.3em;
  	color: #aaa;
    font-weight: 100;
  }
	.nome-autor {
		  color : #666;
		  text-transform: uppercase;
	    font-style: italic;
	    padding-right: 1em;
	    text-align: right;
		}
}

.ficha-tecnica {
	padding: 3em 0px 0px 2em;
  	width: 900px;	
  h1 {
		font-size: 15pt;
		padding-bottom: 4em;
	}
	p {
		color: #ccc;
		text-align: center;
	}
	b {
		color: #ccc;
	}
	span {
		font-size: 9.5pt;
	}
}


.performances {
	padding: 3em 0px 0px 2em;
  	width: 900px;	
  h1 {
		font-size: 22pt;
	}
  h2 {
		font-size: 15pt;
	}
  h3 {
		padding-top: 1.5em;
	}
	p {
		color: #ccc;
		text-align: center;
	}
	b {
		color: #ccc;
	}
	span {
		font-size: 9.5pt;
	}
}
// OBRAS

.obras {
	padding: 2em 2em 0 4em;
    width: 900px;


	
	blockquote {
		padding: 3px 19px;
		font-size: 12px;
		border-left: 3px solid #eee;
		strong {
			font-size: 14px;
		}
	}
	

	h3 {
		font-size: 10pt;
		color: #ccc;
	}
	h2 {
		font-size: 14px;
		text-align: left;
		color: #f44f3a;
		text-transform: uppercase;
	}
	h2, h3 {
		padding: 6px 2em;
	}
	

	
}

.nav-item,
#default-tab,
#sobre-tab,
#artista-tab {
	width: 25px;
  height: 24.5px;
}

.nav .nav-link {
  border: 0;
  padding: 0;
}

.nav li {
  margin: 2px;
}

/* TABS */

#artista-tab {
    background: url(/assets/buttons.svg) 51px 0;
 
}

#sobre-tab {
    background: url(/assets/buttons.svg) 0 0;
}

#default-tab {
    background: url(/assets/buttons.svg) 25px 0;
}

.aba {
	padding: 30px 0px 10px 0px;
}

.frame
{
	width: 100%;
    border: none;
	height: 684px;
}

.fyoutube {
	width: 952px;
    height: 535.5px;	
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.frame {
	  	width: 22em;
	  	height: 36em;
	    padding-right: 0.5em;
    }
 .fyoutube {
    width: 330px;
    height: 185px;
}

	.sobre {
	 	hyphens: auto;
	 }
 
 }

/* MENU MOBILE */

#menuFloat {
	color: #1656A9;
    font-size: 3.7em;
	padding-top: 3em;
}
.menuMob {
    z-index: 2;
    position: fixed;
    overflow: hidden;
    top: -9px;
    left: 0;
    padding: 1em 0em 0em 1.5em;
    cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6em;
  background: #000000f7;
}

.sidenav a {
  padding: 10px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  color: #1656A9;
  top: 0;
  padding-top: 0px;
  font-size: 50px;
}
